{
  "records": [
    {
      "type": "MX",
      "name": "example.com",
      "values": ["10 your-mail-server.com."]
    },
    {
      "type": "TXT",
      "name": "example.com",
      "values": [
        "\"mail-server=aAaAbBbBcCcCdDdD\"",
        "\"v=spf1 include:spf.your-mail-server.com -all\"",
        "\"Most people won't need records like these defined\"",
        "\"This is just because of my email shenanigans\""
      ]
    },
    {
      "type": "TXT",
      "name": "_dmarc.example.com",
      "values": ["\"v=DMARC1; p=quarantine\""]
    },
    { 
      "type": "CNAME",
      "name": "abcd1234abcd1234abcd1234abcd1234._domainkey", 
      "values": ["abcd1234abcd1234abcd1234abcd1234.dkim.amazonses.com"]
    },
    { 
      "type": "CNAME",
      "name": "gm0._domainkey", 
      "values": ["gm0._domainkey.your-mail-server.com."]
     },
    { 
      "type": "CNAME",
      "name": "gm1._domainkey", 
      "values": ["gm1._domainkey.your-mail-server.com."]
     },
    { 
      "type": "CNAME",
      "name": "zxcv7890zxcv7890zxcv7890zxcv7890._domainkey", 
      "values": ["zxcv7890zxcv7890zxcv7890zxcv7890.dkim.amazonses.com"]
    },
    { 
      "type": "CNAME",
      "name": "1337abcd1337abcd1337abcd1337abcd._domainkey", 
      "values": ["1337abcd1337abcd1337abcd1337abcd.dkim.amazonses.com"]
    }
  ]
}